@using MyPerfume.Common
@using MyPerfume.Web.ViewModels.ViewModels
@model IEnumerable<PerfumeViewModel>
@{
    this.ViewData["Title"] = "All Perfumes";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли в @GlobalConstants.SystemName!</h1>
</div>
<hr />
<h2 style="margin: 1%; text-align: center;">@this.ViewData["HomeWelcome"]</h2>
<hr />
<form>
    @foreach (var perfume in @Model.OrderBy(x => x.Name))
    {<div class="card">
         <h5 class="card-header">Дизайнер: @perfume.DesignerName</h5>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-7">
                        <section class="py-sm-0">
                            <div class="container-fluid">
                                <hr />
                                <div style="padding: 2%;">
                                    <table class="table-sm table-bordered">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Парфюм</th>
                                                <th scope="col">За кого е подходящ</th>
                                                <th scope="col">Държава на произход</th>
                                                <th scope="col">Година на производство</th>
                                                <th scope="col">Цвят</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">@perfume.Name</th>
                                                <td>@perfume.CustomerType</td>
                                                <td>@perfume.CountryName</td>
                                                <td>@perfume.YearOfManifacture</td>
                                                <td>@perfume.ColorName</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="form-group col-md-1">
                        <label asp-for="@perfume.Niche">Нишов</label>
                        <input type="checkbox" asp-for="@perfume.Niche" class="form-control" disabled />
                        <span asp-validation-for="@perfume.Niche" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        @if (perfume.PictureUrls.Count() > 0)
                        {
                            var pictureUrls = perfume.PictureUrls.OrderBy(x => x.PictureShowNumber).ToList();
                            <img src="@pictureUrls[0].Url" class="card-img rounded float-right" style="max-width: 350px; max-height: 350px;" />
                        }
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        Описание на основните му характеристики:
                    </div>
                    <div class="card-body mb-5">
                        <blockquote class="blockquote mb-0">
                            <h5 class="card-text"><small>@perfume.Description</small></h5>
                        </blockquote>
                    </div>
                </div>
                <br />
                @if (perfume.PictureUrls.Count() > 0)
                {
                    var maxPictures = Math.Min(perfume.PictureUrls.Count(), 6);
                    <div class="rounded mx-auto d-block">
                        @for (int i = 1; i < maxPictures; i++)
                        {
                            var pictureUrls = perfume.PictureUrls.OrderBy(x => x.PictureShowNumber).ToList();
                            <img src="@pictureUrls[i].Url" class="card-img" style="max-width: 210px; max-height: 210px;" />
                        }
                    </div>
                }
                <hr />
            </div>
        </div>
        <hr />
    }
</form>


