@using MyPerfume.Common
@using MyPerfume.Web.ViewModels.ViewModels
@model PagePerfumeViewModel
@{
    this.ViewData["Title"] = "All Perfumes";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли в @GlobalConstants.SystemName!</h1>
</div>
<hr />
<h2 style="margin: 1%; text-align: center;">@this.ViewData["HomeWelcome"]</h2>
<hr />
<form>
    @foreach (var perfume in @Model.Perfumes.OrderBy(x => x.Name))
    {<div class="card">
            <h5 class="card-header">Парфюм: <a href="@perfume.Url">@perfume.Name</a></h5>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-7">
                        <section class="py-sm-0">
                            <div class="container-fluid">
                                <hr />
                                <div style="padding: 2%;">
                                    <table class="table-sm table-bordered">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Дизайнер</th>
                                                <th scope="col">За кого е подходящ</th>
                                                <th scope="col">Държава на произход</th>
                                                <th scope="col">Година на производство</th>
                                                <th scope="col">Цвят</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">@perfume.DesignerName</th>
                                                <td>@perfume.CustomerType</td>
                                                <td>@perfume.CountryName</td>
                                                <td>@perfume.YearOfManifacture</td>
                                                <td>@perfume.ColorName</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="form-group col-md-1">
                        <label asp-for="@perfume.Niche">Нишов</label>
                        <input type="checkbox" asp-for="@perfume.Niche" class="form-control" disabled />
                        <span asp-validation-for="@perfume.Niche" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        @if (perfume.PictureUrls.Count() > 0)
                        {
                            var pictureUrls = perfume.PictureUrls.OrderBy(x => x.PictureShowNumber).ToList();
                            <a href="@pictureUrls[0].Url">
                                <img src="@pictureUrls[0].Url" class="card-img rounded float-right" style="max-width: 350px; max-height: 350px;" alt="@perfume.Name" />
                            </a>
                        }
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        Описание на основните му характеристики:
                    </div>
                    <div class="card-body mb-5">
                        <blockquote class="blockquote mb-0">
                            <h5 class="card-text"><small>@Html.Raw(@perfume.SanitizedShortDescription)</small></h5>
                        </blockquote>
                    </div>
                </div>
                <br />
                @if (perfume.PictureUrls.Count() > 0)
                {
                    var maxPictures = Math.Min(perfume.PictureUrls.Count(), 6);
                    <div class="rounded mx-auto d-block">
                        @for (int i = 1; i < maxPictures; i++)
                        {
                            var pictureUrls = perfume.PictureUrls.OrderBy(x => x.PictureShowNumber).ToList();
                            <a href="@pictureUrls[i].Url">
                                <img src="@pictureUrls[i].Url" class="card-img" style="max-width: 210px; max-height: 210px;" alt="@perfume.Name" />
                            </a>
                        }
                    </div>
                }
                <hr />
                <div class="form-row">
                    <div class="col-md-1">
                        <p>Постове: @perfume.PostsCount</p>
                    </div>
                    <div class="col-md-11 text-right">
                        <a class="btn btn-info" asp-controller="Posts" asp-action="Create" asp-route-id="@perfume.Id" asp-route-name="@perfume.Name">Създай нов пост !</a>
                    </div>
                </div>
                <hr />
            </div>
        </div>
        <hr />
    }
</form>
<nav aria-label="...">
    <ul class="pagination justify-content-center">

        @if (Model.CurrentPage == 1)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
        }
        else
        {
            <li class="page-item active">
                <a class="page-link"
                   asp-route-id="@(Model.CurrentPage - 1)">Previous</a>
            </li>
        }

        @for (int i = 1; i <= Model.PagesCount; i++)
        {
            var active = i == Model.CurrentPage ? "active" : string.Empty;
            <li class="page-item @active">
                <a class="page-link"
                   asp-route-id="@i">@i</a>
            </li>
        }

        @if (Model.CurrentPage == Model.PagesCount)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Next</a>
            </li>
        }
        else
        {
            <li class="page-item active">
                <a class="page-link"
                   asp-route-id="@(Model.CurrentPage + 1)">Next</a>
            </li>
        }
    </ul>
</nav>


