@using MyPerfume.Common
@using MyPerfume.Web.ViewModels.ViewModels
@model IEnumerable<PerfumeViewModel>
@{
    this.ViewData["Title"] = "All Perfumes";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
</div>
<hr />
<h2 style="margin: 1%; text-align: center;">@this.ViewData["HomeWelcome"]</h2>
<hr />
<form>
    @foreach (var perfume in @Model)
    {<div class="card">
            <h5 class="card-header">Featured</h5>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-7">
                        <section class="py-sm-0">
                            <div class="container-fluid">
                                <hr />
                                <div style="padding: 2%;">
                                    <table class="table-sm table-bordered">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">Designer</th>
                                                <th scope="col">Customer Type</th>
                                                <th scope="col">Country</th>
                                                <th scope="col">Year Of Manifacture</th>
                                                <th scope="col">Color</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">@perfume.Name</th>
                                                <td>@perfume.DesignerName</td>
                                                <td>@perfume.CustomerType</td>
                                                <td>@perfume.CountryName</td>
                                                <td>@perfume.YearOfManifacture</td>
                                                <td>@perfume.ColorName</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="form-group col-md-1">
                        <label asp-for="@perfume.Niche">Niche</label>
                        <input type="checkbox" asp-for="@perfume.Niche" class="form-control" disabled />
                        <span asp-validation-for="@perfume.Niche" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        @if (perfume.PictureUrls.Count() > 0)
                        {
                            <img src="@perfume.PictureUrls[0].Url" class="card-img rounded float-right" style="max-width: 350px; max-height: 350px;" />
                        }
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        Description
                    </div>
                    <div class="card-body mb-5">
                        <blockquote class="blockquote mb-0">
                            <h5 class="card-text"><small>@perfume.Description</small></h5>
                        </blockquote>
                    </div>
                </div>
                <br />
                @if (perfume.PictureUrls.Count() > 0)
                {
                    var maxPictures = Math.Min(perfume.PictureUrls.Count(), 6);
                    <div class="rounded mx-auto d-block">
                        @for (int i = 1; i < maxPictures; i++)
                        {
                            <img src="@perfume.PictureUrls[i].Url" class="card-img" style="max-width: 210px; max-height: 210px;" />
                        }
                    </div>
                }
                <hr />
            </div>
        </div>
        <hr />
    }
</form>


