@using MyPerfume.Web.ViewModels.ViewModels
@model PictureUrlViewModel
@{ 
    this.ViewData["Title"] = "Delete Picture Url";
}

<h1>Are you sure to delete this @this.ViewData["ClassName"]?</h1>

<form method="post">
    <div class="form-group">
        <input type="hidden" asp-for="@Model.Url" />
        <label asp-for="@Model.Url"></label>
        <input asp-for="@Model.Url" disabled class="form-control" placeholder="Enter name" />
    </div>
    <div class="form-group">
        <input type="hidden" asp-for="@Model.DesignerName" />
        <label asp-for="@Model.DesignerName"></label>
        <input asp-for="@Model.DesignerName" disabled class="form-control" placeholder="Enter name" />
    </div>
    <div class="form-group">
        <input type="hidden" asp-for="@Model.PerfumeName" />
        <label asp-for="@Model.PerfumeName"></label>
        <input asp-for="@Model.PerfumeName" disabled class="form-control" placeholder="Enter name" />
    </div>
    <div class="form-group">
        <input type="hidden" asp-for="@Model.PictureNumber" />
        <label asp-for="@Model.PictureNumber"></label>
        <input asp-for="@Model.PictureNumber" disabled class="form-control" placeholder="Enter name" />
    </div>
    <button type="submit" class="btn btn-danger" asp-action="Delete">Delete</button>
    <a class="btn btn-primary" asp-action="All">Back</a>
</form>

